<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; justify-content: center; height: 50vh;">
    <form style="display: flex; flex-direction: column; gap: 5%;" method="POST" action="/new">
        <h2>ENTER YOUR MESSAGE</h2>
        <input name="authorname"type="text" placeholder="name">
        <input name="age" type="text" placeholder="age"></input>
        <input name="messageText" type="text" placeholder="message"></input>
        <input name="location" type="text" placeholder="location"></input>
        <button type="submit">add</button>
    </form> 
</body>
</html>







